<ion-header>
    <ion-navbar>
      <ion-buttons start>
        <button ion-button icon-only (click)="onToggleMenu()">
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title *ngIf="mode === 'new'">Nouvel utilisateur</ion-title>
      <ion-title *ngIf="mode === 'connect'">Connexion</ion-title>
    </ion-navbar>
</ion-header>
  
<ion-content padding>
<form [formGroup]="authForm">
    <ion-list>
        <ion-item>
            <ion-label floating>Adresse email</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Mot de passe</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
    </ion-list>
    <button ion-button round full (click)="onSubmitForm()" [disabled]="disableButton()" (input)="disableButton()">Soumettre</button>
    <span ion-text color="danger">{{errorMessage}}</span>
</form>
</ion-content>