<ion-header>
    <ion-navbar>
      <ion-buttons start>
        <button ion-button icon-only (click)="onToggleMenu()">
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>Appareils</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <ion-list>
      <ion-item>
          <button icon-start ion-item *ngFor="let appareil of appareilsList; let i = index" 
          (click)="onLoadAppareil(i)">
          <ion-icon name="md-power" [color]="appareil.isOn ? 'secondary' : 'danger'"></ion-icon>
            {{appareil.name}}
          </button>
      </ion-item>
    </ion-list>
    <button ion-button round full (click)="onNewAppareil()">Nouvel appareil</button>
  
  <ion-card>
    <ion-card-header>Données</ion-card-header>
     <ion-card-content>
        <button ion-button block outline (click)="onSaveList()">Enregistrer</button>
        <button ion-button block outline (click)="onFetchList()">Récupérer</button>
     </ion-card-content>
  </ion-card>
</ion-content>