page-single-appareil {
    .is-on {
      ion-card-content, ion-card-header, ion-grid {
        background-color: color($colors, secondary-light);
      }
    }
    .is-off {
      ion-card-content, ion-card-header, ion-grid {
        background-color: color($colors, danger-light);
      }
    }
  }