<ion-header>
  <ion-navbar>
    <ion-buttons>
      <button ion-button clear (click)="dismissModal()">Fermer</button>
    </ion-buttons>
    <ion-title>{{ appareil.name }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card [ngClass]="{'is-on': appareil.isOn, 'is-off': !appareil.isOn}">
    <ion-card-header>{{ appareil.name }}</ion-card-header>
    <ion-card-content>
      <p *ngFor="let line of appareil.description">{{ line }}</p>
    </ion-card-content>
    
    <ion-grid>
      <ion-row>
        <ion-col>
            <button
            ion-button
            full
            color="danger"
            [disabled]="!appareil.isOn"
            (click)="onToggleAppareil()">Eteindre</button>
        </ion-col>
        <ion-col>
          <button
            ion-button
            full
            color="secondary"
            [disabled]="appareil.isOn"
            (click)="onToggleAppareil()">Allumer</button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <form #f="ngForm" (ngSubmit)="onSubmitForm(f)">
      <ion-list>
        <ion-item>
          <ion-label>Heure d'allumage</ion-label>
          <ion-datetime displayFormat="HH:mm" name="startTime" [(ngModel)]="appareil.startTime"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>Heure d'extinction</ion-label>
          <ion-datetime displayFormat="HH:mm" name="endTime" [(ngModel)]="appareil.endTime"></ion-datetime>
        </ion-item>
      </ion-list>
      <button type="button"
            ion-button
            full
            color="danger"
            (click)="onDeleteHours()">
      Supprimer horaires
      </button>
      <button type="submit"
            ion-button
            full
            color="secondary">
      Enregistrer horaires
      </button>
    </form>
  </ion-card>
</ion-content>
