<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar>
        <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <button *ngIf="isAuth" ion-item icon-start (click)="onNavigate(tabsPage)">
            <ion-icon name="power"></ion-icon>
            Appareils
        </button>
        <button *ngIf="isAuth" ion-item icon-start (click)="onNavigate(optionsPage)">
            <ion-icon name="options"></ion-icon>
            Options
        </button>
        <button *ngIf="!isAuth" ion-item icon-start (click)="onNavigate(authPage, {mode: 'new'})">
            <ion-icon name="person-add"></ion-icon>
            Nouvel utilisateur
        </button>
        <button *ngIf="!isAuth" ion-item icon-start (click)="onNavigate(authPage, {mode: 'connect'})">
            <ion-icon name="person"></ion-icon>
            Connexion
        </button>
        <button ion-item icon-start (click)="onDisconnect()" *ngIf="isAuth">
            <ion-icon name="exit"></ion-icon>
            Déconnexion
            </button>
      </ion-list>
    </ion-content>
</ion-menu>
    <ion-nav [root]="tabsPage" #content></ion-nav>