<ion-header>
    <ion-navbar>
      <ion-title>Nouvel appareil</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <form [formGroup]="appareilForm">
      <ion-list>
        <ion-item-divider>Informations</ion-item-divider>
        <ion-item>
          <ion-label>Nom : </ion-label>
          <ion-input placeholder="Appareil" formControlName="name"></ion-input>
        </ion-item>
        <ion-item-divider>Description</ion-item-divider>
        <div formArrayName="description">
          <ion-item *ngFor="let control of getDescriptionArray().controls; let i = index">
            <ion-icon item-end
                    name="remove-circle"
                    color="danger"
                    (click)="onRemoveDescription(i)">
            </ion-icon>  
            <ion-input [formControlName]="i" placeholder="{{i+1}}"></ion-input>
          </ion-item>
        </div>
      </ion-list>
      <button ion-button round full (click)="onAddDescription()">Ajouter une ligne {{disableButton}}</button>
      <button ion-button full round color="secondary"  [disabled]="isNotNull()" (input)="isNotNull()" (click)="onSubmitForm()">Enregistrer</button>
    </form>
  </ion-content>